@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body::after,.info_box,
.quiz_box,
.result_box {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../IMG/principal.jpg");
    background-size: cover;
    z-index: -1;
    opacity: 1;
}
h1{
    margin: 0;
    font-weight: 500;
    text-align: center;
}
.contenedor{
    display: flex;
	justify-content: space-between;
	padding: 1em;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: rgba(0,0,0,.2) 0 2px 4px;
}
.contenedor:not(:last-child) {
	margin-bottom: 2em;
}
.form {
    --with: 1.8rem;
	margin: auto;
	padding: 1em;
	background: #ffffff;
	width: 40rem;
}
.Form-label {
    display: flex;
    align-items: center;
    color: #8f05aa;
    font-weight: 400;
    transition: .3s;
}
.Form-label::before {
    content: "";
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: .2em;
		border: 2px solid;
		width: var(--with);
		height: var(--with);
}
.Form-label,
	.Form-input{ cursor: pointer; }
	.Form-input { display: none; }

	.form-label--checkbox::before {
		border-radius: 4px;
	}
    .Form-input:checked + .form-label--checkbox {
		color: #fd1403;
		font-weight: 500;
	}
    .Form-input:checked + .form-label--checkbox::before {
		content:"✔";
	}
    .Form-label--radio::before {
		border-radius: 50%;
	}
.REGRESAR{
    --with: 1.8rem;
	margin: auto;
    justify-content: space-between;
	padding: 1em;
    border-radius: 1px;
    background-size: cover;
    width: 45%;
    height: 45%;
    background-color: #8f05aa;
    color: #fff;
    border: #ffffff;
}
.SIGUIENTE{
    --with: 1.8rem;
	margin: auto;
    justify-content: space-between;
	padding: 1em;
    border-radius: 1px;
    background-size: cover;
    width: 45%;
    height: 45%;
    background-color: #8f05aa;
    color: #fff;
    border: #ffffff;
}
.group 			  { 
    position:relative; 
    margin-bottom:25px; 
  }
  input 				{
    font-size:8px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    text-align: center;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    text-align: center;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-30px;
    font-size:14px;
    color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  .name{
	height: auto;
	width: 400px;
	margin: 0% auto;
	padding: 20px;
	box-sizing: border-box;
}
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }